* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stylish", sans-serif;
}

/* font-family: "Permanent Marker", cursive; */
/* font-family: "Stylish", sans-serif; */

header {
  margin: 0;
}
.nav {
  background: #0f0f0f;
}
.nav__link {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  padding: 30px;
  font-size: 30px;
}

.nav__link:hover {
  background: #5b5b5b;
}

.nav__link a {
  text-decoration: none;
  color: #848484;
}

.nav__label {
  font-family: "Permanent Marker", cursive;
  font-size: 35px;
  color: #848484;
}

img {
  max-width: 100%;
}

.section--1 {
  background: #0f0f0f;
  padding: 30px;
}

.section--1 h2 {
  display: block;
  text-align: center;
  padding-top: 40px;
  color: #848484;
  font-size: 30px;
}

.section--1 p {
  font-family: "Stylish", sans-serif;
  text-align: center;
  color: #848484;
  margin: 30px 70px;
}

.sec-1.border {
  border: 2px solid #848484;
  padding: 20px;
}
